<h2><%= post.get("title") %></h2>
<p><%= post.get("body") %></p>
<br>
<button class="delete" data-id="<%= post.get('id')%>">Delete Post</button>
<button class="edit" data-id="<%= post.get('id') %>">Edit Post</button>